@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    margin: 0;
    padding: 0;
}

.uneGrandeBoite {
    display: flex;
   flex-direction: column;
   
}

.petiteBoite {
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    align-items : center;
    transition: height 2s;
    overflow: hidden;
}


.mer {
    background-image: url('images/paysage2.jpg');
    height: 40vh;
}

.mer:hover{
    height: 80vh;

}




.etoiles {
    background-image: url('images/paysage5.jpg');
    
    height: 40vh
}

.etoiles:hover{
    height: 80vh;

}



.prairie {
    background-image: url('images/paysage4.jpg');
    height: 40vh
}

.prairie:hover{
    height: 80vh;

}





.ville {
    background-image: url('images/paysage1.jpg');
    height: 40vh
}

.ville:hover{
    height: 80vh;

}




.lesMonts {
    background-image: url('images/paysage3.jpg');
    height: 40vh
}

.lesMonts:hover{
    height: 80vh;

}


p {
    color: white;
    font-weight: bolder;
    text-transform: uppercase; 
    font-size: 2.2em;
    font-family: 'Zen Dots', cursive;
    
}

.rond{

    height: 80px;
    width: 80px;
    position: relative;
    background-color: black;  
    background-image: linear-gradient(rgba(155, 151, 151, 0.733), rgba(12, 10, 10, 0.493));
    
    border-radius: 10px;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 7px 7px 0px white ,0px 9px 25px white;

    

    
   
}

.rond:hover{

    cursor: pointer;
   
}

.rond:active{

    box-shadow: 3px 5px 0 rgb(184, 178, 178),0px 3px 6px rgba(0, 0, 0, .7);
    
}
    
    


.monh3{

    color: white;
      
}

.topWord{
    
    transform: translateX(-400px);
    transition: transform 1s;
    
}


.petiteBoite:hover > .topWord{


    transform: translateX(0px);
}

.botWord{

    transform: translateX(400px);
    transition: transform 1s;
    

}

.petiteBoite:hover > .botWord{

    transform: translateX(0px);
}
    

/*-----------ADAPTATION WEB MOBILE / PC--------------*/


@media only screen and (max-width:920px) {

    @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body {
    margin: 0;
    padding: 0;
}

.uneGrandeBoite {
    display: flex;
   flex-direction: column;
   
}

.petiteBoite {
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    align-items : center;
    transition: height 2s;
    overflow: hidden;
}


.mer {
    background-image: url('images/paysage2.jpg');
    height: 40vh;
}

.mer:hover{
    height: 80vh;

}




.etoiles {
    background-image: url('images/paysage5.jpg');
    
    height: 40vh
}

.etoiles:hover{
    height: 80vh;

}



.prairie {
    background-image: url('images/paysage4.jpg');
    height: 40vh
}

.prairie:hover{
    height: 80vh;

}





.ville {
    background-image: url('images/paysage1.jpg');
    height: 40vh
}

.ville:hover{
    height: 80vh;

}




.lesMonts {
    background-image: url('images/paysage3.jpg');
    height: 40vh
}

.lesMonts:hover{
    height: 80vh;

}


p {
    color: white;
    font-weight: bolder;
    text-transform: uppercase; 
    font-size: 2.2em;
    font-family: 'Zen Dots', cursive;
    
}

.rond{

    height: 80px;
    width: 80px;
    position: relative;
    background-color: black;  
    background-image: linear-gradient(rgba(155, 151, 151, 0.733), rgba(12, 10, 10, 0.493));
    
    border-radius: 10px;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 7px 7px 0px white ,0px 9px 25px white;

    

    
   
}

.rond:hover{

    cursor: pointer;
   
}

.rond:active{

    box-shadow: 3px 5px 0 rgb(184, 178, 178),0px 3px 6px rgba(0, 0, 0, .7);
    
}
    
    


.monh3{

    color: white;
      
}

.topWord{
    
    transform: translateX(-400px);
    transition: transform 1s;
    
}


.petiteBoite:hover > .topWord{


    transform: translateX(0px);
}

.botWord{

    transform: translateX(400px);
    transition: transform 1s;
    

}

.petiteBoite:hover > .botWord{

    transform: translateX(0px);
}



}

    



